@use '../utils/variables' as var;

.requestButton {
  border: none;
  font-size: 0.875rem;
  font-weight: var.$fw-medium;
  color: white;
  padding: 0.475rem 2.075rem;
  border-radius: 2rem;
  background: linear-gradient(to right, var.$clr-primary, var.$clr-secondary);
  border: 0.125rem solid transparent;

  &:active {
    background: none !important;
    color: var.$clr-primary;
    border: 0.125rem solid var.$clr-primary;
  }
}

// Tablet
@media only screen and (min-width: 768px) {
  .requestButton {
    @media (hover: hover) {
      /* when supported */
      &:hover {
        cursor: pointer;
        background: linear-gradient(
          to right,
          hsl(140, 62%, 70%),
          hsl(188, 64%, 69%)
        );
      }
    }
  }
}
