// Variables

// Main Theme Color
$clr-primary: hsl(136, 65%, 51%);
$clr-secondary: hsl(192, 70%, 51%);
$clr-tertiary: hsl(223, 26%, 24%);

// Neutral Element Color
// $grayish-blue: hsl(233, 8%, 62%);
// $light-grayish-blue: hsl(220, 16%, 96%);
// $very-lLight-gray: hsl(0, 0%, 98%);
// $white: hsl(0, 0%, 100%);

$eclr-background: hsl(0, 0%, 98%);
$eclr-background-secondary: hsl(220, 16%, 96%);
$eclr-surface: hsl(0, 0%, 100%);
$eclr-text-primary: hsl(223, 26%, 24%);
$eclr-text-secondary: hsl(233, 8%, 62%);

// Font Weight
$fw-light: 300;
$fw-reguler: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Fixed Size:
$max-width: 1180px;
$min-width: 375px;
$nav-height: 5rem;
