@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

.home_mainFeature {
  background-color: var.$eclr-background-secondary;
  padding-top: 3.8rem;
  padding-bottom: 2.1rem;
  text-align: center;

  &__wrapper {
    @include mix.wrapper;
  }

  &__title {
    font-size: 2rem;
    letter-spacing: -0.6;
    line-height: normal;
    font-weight: var.$fw-light;
    color: var.$eclr-text-primary;
  }

  &__paragraph {
    margin-top: 1rem;
    color: var.$eclr-text-secondary;
    font-weight: var.$fw-reguler;
    font-size: 0.8em;
  }

  &__breakLine {
    display: none;
  }

  &__featureList {
    margin-top: 1.5rem;
    padding: 1.875rem 0;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;
  }
}

// Tablet
@media only screen and (min-width: 768px) {
  .home_mainFeature {
    min-height: 42.25rem;
    margin-top: -2rem;
    text-align: left;
    padding-top: 6.4rem;

    &__title {
      font-size: 2.5625rem;
      letter-spacing: -1.3;
    }

    &__paragraph {
      margin-top: 1.5rem;
      font-size: 1em;
      letter-spacing: -0.3;
      line-height: 1.6;
    }

    &__breakLine {
      display: block;
    }

    &__featureList {
      margin-top: 4.42rem;
      padding: 0;
      grid-template-columns: repeat(2, 1fr);
      // gap: 1.875rem;
    }
  }
}

// Desktop
@media only screen and (min-width: 1024px) {
  .home_mainFeature {
    &__featureList {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
